body{
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
}
.container{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    width:300px;
    height:300px;

}
.flex-box{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.flex-column{
    display: flex;
    flex-flow: row;
    gap: 5px
}
.mycount{
    width: 200px;
    height: 40px;
    border:1px solid black;
}
.counter{
    width:0;
    height:40px;
    background-color: green;
}
